<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %} ZOHO Help Desk {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.dataTables.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/dataTables.bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/fixedColumns.dataTables.min.css') }}">
            <link rel="stylesheet" href="{{asset('assets/css/main.css')}}">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        {% endblock %}
        {% block preloads %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    {% block menuSection %}
    {% set routeName = app.request.get('_route') %}
    {% endblock %}
    <body>
        <div class="login-container">
            <div class="row">
                <span class="btn btn-primary btn btn-info"  style = "color: blue;float:right;margin-top:2em;margin-right:2em"> <a href="{{ path('logout') }}">Log Out</a>
            </div>
        </div>
        <div class="clearfix white-bg">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if  label  == 'error' %}
                        <div class="status-notification-box error">
                            <div class="status-content">
                                <span class="status-notification-icon"></span>
                                <span >
                                    {{ message }}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="status-notification-box">
                            <div class="status-content">
                                <span class="status-notification-icon"></span>
                                <span>
                                    {{ message }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
     <main>
        {% block body %} 
       
        {% endblock %}
    </main>
    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('assets/js/dataTables.bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/dataTables.fixedColumns.min.js') }}"></script>
    {% endblock %}
</body>
</html>
