<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %} ZOHO Help Desk {% endblock %}
        </title>
        <!-- Font -->
      {#   <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet" type="text/css"> #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.dataTables.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/dataTables.bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/fixedColumns.dataTables.min.css') }}">
            <link rel="stylesheet" href="{{asset('assets/main.css')}}">
        {% endblock %}
        {% block preloads %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    {% block menuSection %}
    {% set routeName = app.request.get('_route') %}
    {% endblock %}
    <body>
     <div class="login-container">
            <div class="row">
                <div class="col-md-12">
                   <h1 class="heading">ZOHO Help Desk</h1>
                </div>
                <span class="logout"> <a href="{{ path('logout') }}" style = "color: white;float:right">Log Out</a>
            </div>

        </div>
     <main>
        {% block body %} 
       
        {% endblock %}
    </main>
    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('assets/js/dataTables.bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/dataTables.fixedColumns.min.js') }}"></script>
    {% endblock %}
</body>
</html>
