{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid tab-holder">
        <div class="row">
            <div class="col-xs-10 content-container ticketlist-container">
                <div class="container dataTables-list-holder table-holder ">
                    <h3>Tickets List</h3>
                    <table id="viewTicketsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Department Id</th>
                            <th>Ticket ID</th>
                            <th>Ticket Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in masterData %}
                        	{% for data in value %}
                            <tr>
                                <td>{{data.subject}}</td>
                                <td>{{data.departmentId}}</td>
                                <td>{{data.ticketNumber}}</td>
                                <td>{{data.status}}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		 $('#viewTicketsTable').DataTable({
                scrollY: "1000px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                order: [[0, "desc"]],
                'columnDefs': [
                    {"width": "200px", targets: "_all"}
                ]
            });
	</script>
{% endblock %}
